<aside *ngIf="{loading: loading$ | async, error: error$ | async} as properties">

  <input type="text" placeholder="search" (keyup)="searchRecipe($event)">

  <div class="recipe-list" *ngIf="!properties.loading && !properties.error">
    <app-recipe-list-item *ngFor="let recipe of (recipeList$ | async)" [recipe]="recipe"></app-recipe-list-item>
  </div>

  <div class="center loading-spinner" *ngIf="properties.loading && !properties.error">
  </div>

  <div class="center error" *ngIf="!properties.loading && properties.error">
    <p>Error occurs</p>
  </div>

</aside>
